* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {

    box-sizing: inherit;
}

html {

    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    
    margin: 0;
    padding: 0;
}

.main_wrapper {

    max-width: 200rem;
    max-height: 120rem;
    margin: 0;
    padding: 0;
}



@mixin respond($breakpoint) {
    @if $breakpoint == xs {
        @media only screen and (max-width:30em) { @content };    //480px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width:45em) { @content };    //720px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}