.home {

    max-width: 148rem;
    padding: 5rem 4%;
    margin: 0 auto;
    background: $color-white;
    position: absolute;
    left: 0;
    right: 0;

    @include respond(phone) {
             
        padding: 5rem 10%;
        
    }

    &_title {

        font-family: $title-font;
        font-size: 3rem;
        color: $color-black;
        text-align: center;
        margin: 0 auto;
        height: 6.5rem;

        @include respond(phone) {
             
            font-size: 2.8rem;
            
        }

    }

    &_description {

        font-family: $content-font;
        font-size: 1.2rem;
        color: $color-gray-light;
        text-align: center;
        height: 3.5rem;
 
    }

    &_container {

        display: grid;
        grid-template-rows: 28rem 28rem;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 1rem;
        margin: 5rem auto;

        @include respond(tab-port) {
             
            grid-template-columns: repeat(2, 1fr);
            
        }

        @include respond(phone) {
             
            grid-template-columns: 1fr;
            
        }
    

        &-item {

            border-radius: 5rem;
            cursor: pointer;
            transition: all .4s;

            &.lion {

                &:hover {

                    background-color: $color-yellow;

                }

            }

            &.elephant {

                &:hover {

                    background-color: $color-gray;
                    
                }
                
            }

            &.owl {

                &:hover {

                    background-color: $color-green;
                    
                }
                
            }

            &.tiger {

                &:hover {

                    background-color: $color-orange;
                    
                }
                
            }

            &.bear {

                &:hover {

                    background-color: $color-brown;
                    
                }
                
            }

            &.rabbit {

                &:hover {

                    background-color: $color-blue;
                    
                }
                
            }

            &.hippo {

                &:hover {

                    background-color: $color-purple;
                    
                }
                
            }

            &.giraffe {

                &:hover {
                    
                   background-color: $color-yellow-light;
                    
                }
                
            }
        }

        &-img {

            height: 28rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 22rem;
            z-index: 9999;

            &:hover {

                animation-name: jump;
                animation-duration: .4s;
            }

            &.lion {

                background-image: url(../img/lion.png);
                background-size: 22rem auto;

            }
            &.elephant {

                background-image: url(../img/elephant.png);
                background-size: 22rem auto; 
                
            }

            &.owl {

                background-image: url(../img/owl.png);  
                background-size:  auto 18rem;    
                
            }

            &.tiger {

                background-image: url(../img/tiger.png);           
                
            }

            &.bear {

                background-image: url(../img/bear.png);     
                
            }

            &.rabbit {

                background-image: url(../img/rabbit.png);  
                
            }

            &.hippo {

                background-image: url(../img/hippo.png);           
                
            }

            &.giraffe {

                background-image: url(../img/giraffe.png);
                
            }
           

        }
    }

}

.fade-enter {

     opacity: 0;
}

.fade-enter-active {

     opacity: 1;
     transition: opacity 200ms linear 0;
}

.fade-exit {

     opacity: 1;
}

.fade-exit-active {

     opacity: 0;
     transition: opacity 200ms linear 1200ms;
}



