
.specifications {

    display: flex;
    flex-direction: row;
    max-width: 148rem;
    padding: 0;
    margin: 0 auto;
    background: $color-white;
    height: auto;
    width: 100vw;
    position: relative;
    align-items: stretch;
    flex-wrap: wrap;

    @include respond(phone) {
             
        flex-direction: column;
        
    }

    &_img {

        animation-duration: 1.7s;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 999;
        flex: 1 0 auto;
        align-self: stretch;
        overflow-y: scroll;

        &.primary {

            width : 22.25%;
            height : 28rem;
            border-radius : 5rem; 

            &.lion {

                top : 20rem;
                left : 4%;
                background-color: $color-yellow;
              
            }

            &.elephant {

                top : 20rem;
                left : 27.25%;
                background-color: $color-gray;
             
            }

            &.owl {

                top : 20rem;
                left : 5o.5%;
                background-color: $color-green;
             
            }

            &.tiger {

                top : 20rem;
                left : 73.75%;
                background-color: $color-orange;
             
            }

            &.bear {

                top : 49rem;
                left : 4%;
                background-color: $color-brown;
             
            }

            &.rabbit {

                top : 49rem;
                left : 27.25%;
                background-color: $color-blue;
             
            }

            &.hippo {

                top : 49rem;
                left : 50.5%;
                background-color: $color-purple;
             
            }

            &.giraffe {

                top : 49rem;
                left : 73.75%;
                background-color:  $color-yellow-light;
             
            }

            

        }

        &.secondary {

            top : 0;
            bottom : 0;
            left : 0;
            width : 30%;
            height : 100%;
            border-radius : 0;
        

            @include respond(tab-port) {
             
                width : 40%;
                
            }

            @include respond(phone) {
             
                width : 100%;
                height : 35%;
                flex-basis: 35%;
                
            }

            &.lion {

                background-color: $color-yellow;
              
            }

            &.elephant {

                background-color: $color-gray;
             
            }

            &.owl {

                background-color: $color-green;
             
            }

            &.tiger {

                background-color: $color-orange;
             
            }

            &.bear {

                background-color: $color-brown;
             
            }

            &.rabbit {

                background-color: $color-blue;
             
            }

            &.hippo {

                background-color: $color-purple;
             
            }

            &.giraffe {

                background-color: $color-yellow-light;
             
            }

        }
    
        &-wrapper {
    
            height: 28rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 22rem;
            z-index: 9999;
    
            &.lion {
    
                background-size: 22rem auto;
    
            }

            &.elephant {

                background-size: 22rem auto; 
                
            }

            &.owl {

                background-size:  auto 18rem;    
                
            }

            &.tiger {          
                
            }

            &.bear {
    
                
            }

            &.rabbit {

                
            }

            &.hippo {
           
                
            }

            &.giraffe {

                
            }
    
        }
         
    }

    &_description {

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70%;
        padding: 5rem;
        transition: opacity .4s;
        flex: 1 0 auto;
        align-self: stretch;

        @include respond(tab-port) {
             
            width: 60%;
            
        }

        @include respond(phone) {
             
            width : 100%;
            top: 35%;
            padding: 3rem;
            
        }

        &-link {

            display: flex;
            justify-content: left;
            align-items: center;
            text-decoration: none;
            width: 14rem;
            

            &--txt {

                color: $color-gray;
                font-family: $content-font;
                font-size: 1.3rem;
                text-transform: capitalize;
                margin-left: 2rem;

            }
        }

        &-item {

            font-family: $title-font;
            color: $color-black;
            font-size: 1.8rem;
            text-transform: capitalize;
            font-weight: 700;
            margin: 2rem auto .5rem 0;

            &.title {

                margin: 3rem auto 3rem 0;
                font-size: 4rem;
                font-weight: 900;

            }
        }

        &-value {

                color: $color-gray;
                font-family: $content-font;
                font-size: 1.3rem;
                margin: 0 auto 2rem 0;

        }
    }
}

