/*
*

    FONTS

*
*/


$title-font: 'Salsa', cursive;
$content-font: 'Public Sans', sans-serif;


/*
*

    COLORS

*
*/

$color-white: #FEFEFE;
$color-black: #252525;
$color-yellow: #EBAA53;
$color-yellow-light: rgb(235, 202, 110);
$color-green: #C9C9A9;
$color-red: #C5411F;
$color-orange: #f39a27;
$color-blue: #5ca9b3;
$color-brown: #e2b6ab;
$color-gray: #66737a;
$color-gray-light: #adadad;
$color-purple: #856fd3;
