* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.main_wrapper {
  max-width: 200rem;
  max-height: 120rem;
  margin: 0;
  padding: 0;
}

/*
*

    FONTS

*
*/
/*
*

    COLORS

*
*/
@keyframes jump {
  0% {
    transform: translateY(-2px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-8px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes lion-span {
  0% {
    top: 20rem;
    left: 4%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  25% {
    top: 20rem;
    left: 4%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  80% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
}
@keyframes lion-spand {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  10% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  75% {
    top: 20rem;
    left: 4%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  100% {
    top: 20rem;
    left: 4%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
}
@keyframes elephant-span {
  0% {
    top: 20rem;
    left: 27.25%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  25% {
    top: 20rem;
    left: 27.25%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  80% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
}
@keyframes elephant-spand {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  10% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  75% {
    top: 20rem;
    left: 27.25%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  100% {
    top: 20rem;
    left: 27.25%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
}
@keyframes owl-span {
  0% {
    top: 20rem;
    left: 50.5%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  25% {
    top: 20rem;
    left: 50.5%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  80% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
}
@keyframes owl-spand {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  10% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  75% {
    top: 20rem;
    left: 50.5%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  100% {
    top: 20rem;
    left: 50.5%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
}
@keyframes tiger-span {
  0% {
    top: 20rem;
    left: 73.75%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  25% {
    top: 20rem;
    left: 73.75%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  80% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
}
@keyframes tiger-spand {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  10% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  75% {
    top: 20rem;
    left: 73.75%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  100% {
    top: 20rem;
    left: 73.75%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
}
@keyframes bear-span {
  0% {
    top: 49rem;
    left: 4%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  25% {
    top: 49rem;
    left: 4%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  80% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
}
@keyframes bear-spand {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  10% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  75% {
    top: 49rem;
    left: 4%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  100% {
    top: 49rem;
    left: 4%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
}
@keyframes rabbit-span {
  0% {
    top: 49rem;
    left: 27.25%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  25% {
    top: 49rem;
    left: 27.25%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  80% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
}
@keyframes rabbit-spand {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  10% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  75% {
    top: 49rem;
    left: 27.25%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  100% {
    top: 49rem;
    left: 27.25%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
}
@keyframes hippo-span {
  0% {
    top: 49rem;
    left: 50.5%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  25% {
    top: 49rem;
    left: 50.5%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  80% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
}
@keyframes hippo-spand {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  10% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  75% {
    top: 49rem;
    left: 50.5%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  100% {
    top: 49rem;
    left: 50.5%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
}
@keyframes giraffe-span {
  0% {
    top: 49rem;
    left: 73.75%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  25% {
    top: 49rem;
    left: 73.75%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  80% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
}
@keyframes giraffe-spand {
  0% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  10% {
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 30%;
  }
  75% {
    top: 49rem;
    left: 73.75%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
  100% {
    top: 49rem;
    left: 73.75%;
    border-radius: 5rem;
    width: 22.25%;
    height: 28rem;
  }
}
@media only screen and (max-width: 62.5em) {
  @keyframes lion-span {
    0% {
      top: 20rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    25% {
      top: 20rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
  }
  @keyframes lion-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    75% {
      top: 20rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    100% {
      top: 20rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
  }
  @keyframes elephant-span {
    0% {
      top: 20rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    25% {
      top: 20rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
  }
  @keyframes elephant-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    75% {
      top: 20rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    100% {
      top: 20rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
  }
  @keyframes owl-span {
    0% {
      top: 49rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    25% {
      top: 49rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
  }
  @keyframes owl-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    75% {
      top: 49rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    100% {
      top: 49rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
  }
  @keyframes tiger-span {
    0% {
      top: 49rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    25% {
      top: 49rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
  }
  @keyframes tiger-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    75% {
      top: 49rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    100% {
      top: 49rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
  }
  @keyframes bear-span {
    0% {
      top: 78rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    25% {
      top: 78rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
  }
  @keyframes bear-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    75% {
      top: 78rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    100% {
      top: 78rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
  }
  @keyframes rabbit-span {
    0% {
      top: 78rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    25% {
      top: 78rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
  }
  @keyframes rabbit-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    75% {
      top: 78rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    100% {
      top: 78rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
  }
  @keyframes hippo-span {
    0% {
      top: 107rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    25% {
      top: 107rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
  }
  @keyframes hippo-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    75% {
      top: 107rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    100% {
      top: 107rem;
      left: 4%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
  }
  @keyframes giraffe-span {
    0% {
      top: 107rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    25% {
      top: 107rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
  }
  @keyframes giraffe-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 40%;
    }
    75% {
      top: 107rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
    100% {
      top: 107rem;
      left: 50.5%;
      border-radius: 5rem;
      width: 45.5%;
      height: 28rem;
    }
  }
}
@media only screen and (max-width: 36em) {
  @keyframes lion-span {
    0% {
      top: 20rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    25% {
      top: 20rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
  }
  @keyframes lion-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    75% {
      top: 20rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    100% {
      top: 20rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
  }
  @keyframes elephant-span {
    0% {
      top: 49rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    25% {
      top: 49rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
  }
  @keyframes elephant-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    75% {
      top: 49rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    100% {
      top: 49rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
  }
  @keyframes owl-span {
    0% {
      top: 78rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    25% {
      top: 78rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
  }
  @keyframes owl-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    75% {
      top: 78rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    100% {
      top: 78rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
  }
  @keyframes tiger-span {
    0% {
      top: 107rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    25% {
      top: 107rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
  }
  @keyframes tiger-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    75% {
      top: 107rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    100% {
      top: 107rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
  }
  @keyframes bear-span {
    0% {
      top: 136rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    25% {
      top: 136rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
  }
  @keyframes bear-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    75% {
      top: 136rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    100% {
      top: 136rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
  }
  @keyframes rabbit-span {
    0% {
      top: 165rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    25% {
      top: 165rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
  }
  @keyframes rabbit-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    75% {
      top: 165rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    100% {
      top: 165rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
  }
  @keyframes hippo-span {
    0% {
      top: 194rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    25% {
      top: 194rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
  }
  @keyframes hippo-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    75% {
      top: 194rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    100% {
      top: 194rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
  }
  @keyframes giraffe-span {
    0% {
      top: 223rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    25% {
      top: 223rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    80% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    100% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
  }
  @keyframes giraffe-spand {
    0% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    10% {
      top: 0;
      left: 0;
      bottom: 0;
      height: 35%;
      border-radius: 0;
      width: 100%;
    }
    75% {
      top: 223rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
    100% {
      top: 223rem;
      left: 10%;
      border-radius: 5rem;
      width: 80%;
      height: 28rem;
    }
  }
}
.arrow-left2 {
  width: 1.8rem;
  height: 1.8rem;
  fill: #66737a;
}

.home {
  max-width: 148rem;
  padding: 5rem 4%;
  margin: 0 auto;
  background: #FEFEFE;
  position: absolute;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 36em) {
  .home {
    padding: 5rem 10%;
  }
}
.home_title {
  font-family: "Salsa", cursive;
  font-size: 3rem;
  color: #252525;
  text-align: center;
  margin: 0 auto;
  height: 6.5rem;
}
@media only screen and (max-width: 36em) {
  .home_title {
    font-size: 2.8rem;
  }
}
.home_description {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  color: #adadad;
  text-align: center;
  height: 3.5rem;
}
.home_container {
  display: grid;
  grid-template-rows: 28rem 28rem;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 1rem;
  margin: 5rem auto;
}
@media only screen and (max-width: 62.5em) {
  .home_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 36em) {
  .home_container {
    grid-template-columns: 1fr;
  }
}
.home_container-item {
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.4s;
}
.home_container-item.lion:hover {
  background-color: #EBAA53;
}
.home_container-item.elephant:hover {
  background-color: #66737a;
}
.home_container-item.owl:hover {
  background-color: #C9C9A9;
}
.home_container-item.tiger:hover {
  background-color: #f39a27;
}
.home_container-item.bear:hover {
  background-color: #e2b6ab;
}
.home_container-item.rabbit:hover {
  background-color: #5ca9b3;
}
.home_container-item.hippo:hover {
  background-color: #856fd3;
}
.home_container-item.giraffe:hover {
  background-color: #ebca6e;
}
.home_container-img {
  height: 28rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 22rem;
  z-index: 9999;
}
.home_container-img:hover {
  animation-name: jump;
  animation-duration: 0.4s;
}
.home_container-img.lion {
  background-image: url(../img/lion.png);
  background-size: 22rem auto;
}
.home_container-img.elephant {
  background-image: url(../img/elephant.png);
  background-size: 22rem auto;
}
.home_container-img.owl {
  background-image: url(../img/owl.png);
  background-size: auto 18rem;
}
.home_container-img.tiger {
  background-image: url(../img/tiger.png);
}
.home_container-img.bear {
  background-image: url(../img/bear.png);
}
.home_container-img.rabbit {
  background-image: url(../img/rabbit.png);
}
.home_container-img.hippo {
  background-image: url(../img/hippo.png);
}
.home_container-img.giraffe {
  background-image: url(../img/giraffe.png);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear 0;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear 1200ms;
}

.specifications {
  display: flex;
  flex-direction: row;
  max-width: 148rem;
  padding: 0;
  margin: 0 auto;
  background: #FEFEFE;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  position: relative;
  align-items: stretch;
  flex-wrap: wrap;
}
@media only screen and (max-width: 36em) {
  .specifications {
    flex-direction: column;
    height: auto;
  }
}
.specifications_img {
  animation-duration: 1.7s;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}
.specifications_img.primary {
  width: 22.25%;
  height: 28rem;
  border-radius: 5rem;
}
.specifications_img.primary.lion {
  top: 20rem;
  left: 4%;
  background-color: #EBAA53;
}
.specifications_img.primary.elephant {
  top: 20rem;
  left: 27.25%;
  background-color: #66737a;
}
.specifications_img.primary.owl {
  top: 20rem;
  left: 5o 0.5%;
  background-color: #C9C9A9;
}
.specifications_img.primary.tiger {
  top: 20rem;
  left: 73.75%;
  background-color: #f39a27;
}
.specifications_img.primary.bear {
  top: 49rem;
  left: 4%;
  background-color: #e2b6ab;
}
.specifications_img.primary.rabbit {
  top: 49rem;
  left: 27.25%;
  background-color: #5ca9b3;
}
.specifications_img.primary.hippo {
  top: 49rem;
  left: 50.5%;
  background-color: #856fd3;
}
.specifications_img.primary.giraffe {
  top: 49rem;
  left: 73.75%;
  background-color: #ebca6e;
}
.specifications_img.secondary {
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 100%;
  border-radius: 0;
  flex-shrink: 1;
  flex: 1 0 auto;
}
@media only screen and (max-width: 62.5em) {
  .specifications_img.secondary {
    width: 40%;
  }
}
@media only screen and (max-width: 36em) {
  .specifications_img.secondary {
    width: 100%;
    height: 35%;
    flex-basis: 35%;
  }
}
.specifications_img.secondary.lion {
  background-color: #EBAA53;
}
.specifications_img.secondary.elephant {
  background-color: #66737a;
}
.specifications_img.secondary.owl {
  background-color: #C9C9A9;
}
.specifications_img.secondary.tiger {
  background-color: #f39a27;
}
.specifications_img.secondary.bear {
  background-color: #e2b6ab;
}
.specifications_img.secondary.rabbit {
  background-color: #5ca9b3;
}
.specifications_img.secondary.hippo {
  background-color: #856fd3;
}
.specifications_img.secondary.giraffe {
  background-color: #ebca6e;
}
.specifications_img-wrapper {
  height: 28rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 22rem;
  z-index: 9999;
}
.specifications_img-wrapper.lion {
  background-size: 22rem auto;
}
.specifications_img-wrapper.elephant {
  background-size: 22rem auto;
}
.specifications_img-wrapper.owl {
  background-size: auto 18rem;
}
.specifications_description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  padding: 5rem;
  transition: opacity 0.4s;
}
@media only screen and (max-width: 62.5em) {
  .specifications_description {
    width: 60%;
  }
}
@media only screen and (max-width: 36em) {
  .specifications_description {
    width: 100%;
    top: 35%;
    flex-basis: 65%;
    padding: 3rem;
  }
}
.specifications_description-link {
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  width: 14rem;
}
.specifications_description-link--txt {
  color: #66737a;
  font-family: "Public Sans", sans-serif;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-left: 2rem;
}
.specifications_description-item {
  font-family: "Salsa", cursive;
  color: #252525;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 700;
  margin: 2rem auto 0.5rem 0;
}
.specifications_description-item.title {
  margin: 3rem auto 3rem 0;
  font-size: 4rem;
  font-weight: 900;
}
.specifications_description-value {
  color: #66737a;
  font-family: "Public Sans", sans-serif;
  font-size: 1.3rem;
  margin: 0 auto 2rem 0;
}

/*# sourceMappingURL=style.css.map */
